<!doctype html>
<html
  lang="{{ site.Language.LanguageCode }}"
  dir="{{ or site.Language.LanguageDirection `ltr` }}"
>
  <head>
    {{ partial "head.html" . }}
  </head>

  <body class="container mx-auto bg-gray-50 dark:bg-neutral-700">
    <div
      class="relative flex min-h-screen flex-col justify-center overflow-hidden py-8"
    >
      <div
        class="relative w-full bg-white dark:bg-neutral-900 px-4 shadow-xl shadow-slate-700/10 ring-1 ring-gray-900/5 md:mx-auto md:max-w-3xl lg:max-w-4xl pb-4"
      >
        <header class="mb-6">
          {{ partial "header.html" . }}
        </header>
        <main>
          {{ block "main" . }}{{ end }}
        </main>
        <footer>
          {{ partial "footer.html" . }}
        </footer>
      </div>
    </div>
  </body>
</html>
